@import url(./_problems/task__option_problems.css);

.task__option {
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 17px;
    background-color: #E7D0AD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    -webkit-text-stroke: 0.7px #A47C64;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s linear 0s;
}

.task__option:hover {
    background-color: rgba(212, 172, 124, 1);
}