@import url(./_current/header__lang_current.css);

.header__lang {
    margin-right: 23px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    -webkit-text-stroke: 0.5px #EAD5B5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.header__lang:hover {
    opacity: 0.7;
    transition: opacity 0.4s linear 0s;
}

.header__lang:last-of-type {
    margin: 0;
}