.header__link {
    margin-left: 45px;
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    -webkit-text-stroke: 0.35px #EAD5B5;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    transition: opacity 0.4s linear 0s;
}

.header__link:hover {
    opacity: 0.7;
}