@import url(./_is-opened/menu__suboptions_is-opened.css);

.menu__suboptions {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 288px;
    width: 153px;
    height: 135px;
    z-index: 5;
    margin: 0;
    padding: 0;
    background-color: #C3A27B;
    border-radius: 9px;
}