.github-link__title {
    margin: 0 0 0 11px;
    width: 58px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}