@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/background-opacity-50.png');
    background-repeat: repeat;
}

.page {
    width: 1440px;
    height: 100vh;
    margin: auto;
    background-image: url('../images/background.svg');
    background-repeat: repeat;
}