.time-control__timeline-pointer {
    position: absolute;
    left: 18%;
    z-index: 4;
    top: -3px;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
}