.basic-operations__operation {
    margin: 38px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-operations__operation:first-of-type {
    padding-top: 13px;
}