<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Двоичное Дерево Поиска</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
</html>
<body>
    <div class="page-wrapper">
        <div class="page">

            <header class="header">
                <button class="header__menu-button"></button>
                <menu class="menu">
                    <img src="<%= require('./images/menu-arrow.svg').default %>" alt="menu arrow" class="menu__arrow">
                    <ul class="menu__options">
                        <li class="menu__option-item">
                            <button class="menu__button menu__button_option">Создать дерево...</button>
                        </li>
                        <li class="menu__option-item">
                            <button class="menu__button menu__button_option">Сохранить конфигурацию</button>
                        </li>
                        <li class="menu__option-item">
                            <button class="menu__button menu__button_option">Загрузить конфигурацию...</button>
                        </li>
                    </ul>
                    <ul class="menu__suboptions">
                        <li class="menu__suboption-item">
                            <button class="menu__button menu__button_suboption">Пустое</button>
                        </li>
                        <li class="menu__suboption-item">
                            <button class="menu__button menu__button_suboption">Случайное</button>
                        </li>
                        <li class="menu__suboption-item">
                            <button class="menu__button menu__button_suboption">Худший случай</button>
                        </li>
                        <li class="menu__suboption-item">
                            <button class="menu__button menu__button_suboption">Средний случай</button>
                        </li>
                        <li class="menu__suboption-item">
                            <button class="menu__button menu__button_suboption">Лучший случай</button>
                        </li>
                    </ul>
                </menu>
                <a class="header__link" href="#">Как пользоваться</a>
                <h1 class="header__title">Двоичное дерево поиска</h1>
                <div class="header__languages">
                    <a class="header__lang header__lang_current" href='./index.html'>Ru</a>
                    <a class="header__lang" href="#">En</a>
                </div>
            </header>

            <main class="content">
                
                <section class="upper-toolbar">
                    <div class=avl>
                        <div class="avl__status">
                            <img src="<%= require('./images/avl-status-red.svg').default %>" class="avl__led">
                            <h4 class="avl__status-message">Дерево несбалансировано</h4>
                            <button class="avl__balance-button">Сбалансировать</button>
                        </div>
                        <div class="avl__switch-state">
                            <div class="switch">
                                <div class="switch__rectangle"></div>
                                <div class="switch__circle"></div>
                            </div>
                            <h4 class="avl__title">AVL-Дерево</h4>
                        </div>
                    </div>
                    <div class="tasks-list">
                        <div class="task">
                            <button class="task__button">
                                Операции обхода дерева
                                <img src="<%= require('./images/tasks-arrow-down.svg').default %>" class="task__button-image" alt="arrow-down">
                            </button>
                            <ul class="task__container task__container_traversal">
                                <li class="task__option-item">
                                    <button class="task__option">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Inorder traversal
                                    </button>
                                </li>
                                <li class="task__option-item">
                                    <button class="task__option">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Preorder traversal
                                    </button>
                                </li>
                                <li class="task__option-item">
                                    <button class="task__option">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Postorder traversal
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="task">
                            <button class="task__button">
                                Дополнительные операции
                                <img src="<%= require('./images/tasks-arrow-down.svg').default %>" class="task__button-image" alt="arrow-down">
                            </button>
                            <ul class="task__container task__container_additional-ops">
                                <li class="task__option-item">
                                    <button class="task__option">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Поиск минимума
                                    </button>
                                </li>
                                <li class="task__option-item">
                                    <button class="task__option">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Поиск максимума
                                    </button>
                                </li>
                                <li class="task__option-item">
                                    <button class="task__option">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Поиск следующего элемента
                                    </button>
                                </li>
                                <li class="task__option-item">
                                    <button class="task__option">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Поиск предыдущего элемента
                                    </button>
                                </li>                                
                            </ul>
                        </div>
                        <div class="task">
                            <button class="task__button">
                                Задачи
                                <img src="<%= require('./images/tasks-arrow-down.svg').default %>" class=task__button-image alt="arrow-down">
                            </button>
                            <div class="task__container task__container_problems">
                                <li class="task__option-item">
                                    <button class="task__option task__option_problems">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Проверка дерева на принадлежность к двоичным деревьям поиска
                                    </button>
                                </li>
                                <li class="task__option-item">
                                    <button class="task__option task__option_problems">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Поиск максимального двоичного дерева поиска
                                    </button>
                                </li>
                                <li class="task__option-item">
                                    <button class="task__option task__option_problems">
                                        <img src="<%= require('./images/task-point.svg').default %>" class="task__option-image" alt="option-point">
                                        Восстановление дерева по результату обхода Preorder traversal
                                    </button>
                                </li>
                            </div>
                        </div>
                    </div>
                    <a href="https://github.com/jellythefish/binary_search_tree" target="_blank" class="github-link">
                        <h2 class="github-link__title">View on github</h2>
                        <img src="<%= require('./images/github-logo.png').default %>" class="github-link__logo" alt="github-logo">
                    </a>
                </section>

                <section class="middle-part">
                    <div class="canvas">
                        <svg id="canvas" width="1440px" height="660px"></svg>
                    </div>

                    <div class="basic-operations">
                        <h3 class="basic-operations__title">Основные операции</h3>
                        <p class="basic-operations__avl-status">(AVL)</h4>
                        <div class="basic-operations__operation">
                            <img class="basic-operations__img basic-operations__img_leaf" src="<%= require('./images/leaf.png').default %>" alt="leaf">
                            <input type="number" class="basic-operations__input basic-operations__input_leaf">
                            <h4 class="basic-operations__operation-title basic-operations__operation-title_leaf">Вставить вершину</h4>
                        </div>
                        <div class="basic-operations__operation">
                            <img class="basic-operations__img basic-operations__img_apple" src="<%= require('./images/apple.svg').default %>" alt="apple">
                            <input type="number" class="basic-operations__input basic-operations__input_apple">
                            <h4 class="basic-operations__operation-title basic-operations__operation-title_apple">Найти вершину</h4>
                        </div>
                        <div class="basic-operations__operation">
                            <img class="basic-operations__img basic-operations__img_cross" src="<%= require('./images/deleting-cross.svg').default %>" alt="cross">
                            <h4 class="basic-operations__operation-title basic-operations__operation-title_cross">Удалить вершину</h4>
                        </div>
                        <button class="basic-operations__button basic-operations__button_open"></button>
                    </div>


                    <div class="theory">
                        <div class="theory__content"></div>
                        <button class="theory__button"></button>
                    </div>

                    <div class="pseudocode" style="right: 0px">
                        <button class="pseudocode__button"></button>
                    </div> 

                </section>

                <section class="lower-toolbar">

                    <button class="clear-button">
                        <h4 class="clear-button__title">Очистить</h4>
                        <img class="clear-button__icon" src="<%= require('./images/bin.svg').default %>">
                    </button>

                    <div class="time-control">
                        <div class="time-control__panel">
                            <div class="time-control__speed">
                                <h5 class="time-control__speed-title">Скорость</h5>
                                <div class="time-control__speed-switch">
                                    <div class="time-control__speed-line"></div>
                                    <div class="time-control__speed-pointer"></div>
                                </div>
                            </div>
                            <div class="time-control__buttons">
                                <img class="time-control__button" src="<%= require('./images/to-beginning.svg').default %>">
                                <img class="time-control__button" src="<%= require('./images/previous-step.svg').default %>">
                                <img class="time-control__button" src="<%= require('./images/play.svg').default %>">
                                <img class="time-control__button" src="<%= require('./images/next-step.svg').default %>">
                                <img class="time-control__button" src="<%= require('./images/to-end.svg').default %>">
                            </div>
                        </div>
                        <div class="time-control__timeline">
                            <div class="time-control__timeline-line"></div>
                            <div class="time-control__timeline-pointer"></div>
                        </div>
                    </div>

                </section>
            </main>
        
        </div>
    </div>
    <script src="./vendor/snap.svg-min.js"> </script> 
    <script type="application/javascript" src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>