@import url(./basic-operations/basic-operations.css);
@import url(./_delete-mode/middle-part_delete-mode.css);
@import url(./pseudocode/pseudocode.css);
@import url(./theory/theory.css);
@import url(./canvas/canvas.css);

.middle-part {
    position: relative;
    margin: 27px 0 0 0;
    min-height: 660px;
}